body{
    background-color: #F7ECDE;
}
div h1{
    font-family: 'Pacifico', cursive;
    color: #352E28;
    font-size: 50px;

}
div h1::after{
    content: "";
    position: absolute;
    background-color: #FEC260;
    bottom: 2px;
    height: 25%;
    width: 100%;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}
div h1:hover:after{
    content: "";
    transition: all 0.5s;
    height: 50%;
    width: 100%;
}
.bookBody{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352E28;
}
.bookBody h2{
        font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label{
    font-size: 17px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.btn-submit{
    background-color: #D1512D;
    color: white;
    border-color: #D1512D;
    border-radius: 10px;
    width: 100px;
}
.btn-submit:hover{
    background-color:#d55e3d;
    color: white;
}
.btn-visit{
    background-color: #8A9E23;
    color: white;
}
.btn-visit:hover{
    background-color:#758523;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.btn-update{
    background-color: teal;
    color: white;
}
.btn-update:hover{
    background-color:rgb(21, 85, 85);
    color: white;
}